<!DOCTYPE html>
<html lang="en">

<head>
  <title>Add roof</title>
  <!-- INCLUDE CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/owner.css}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- INCLUDE SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-latest.js"></script>
    <!-- MAP-CONTROLLING JS -->
  <script type="text/javascript" src="/javascript/add_roof.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGBWhUOkEthohFqecddY4RWSysZtVcIRo&libraries=drawing,geometry,places&callback=initMap"></script>


</head>


<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="roofOwner.html">CoolRoofs</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="roofOwner.html">Home</a></li>
          <li class="active"><a href="addRoof.html">Add Roof</a></li>
          <li><a href="owner_my_roofs.html">My Roofs</a></li>
        </ul>
        <form th:action="@{/logout}" method="get">
					<button class="logout-button" name="logout" type="Submit">Logout</button>
		  	</form>
	      <div class="logged-in-user" th:utext= "${welcome}"></div>
      </div>
    </div>
  </nav>


  <div class="container">

    <h1> . </h1>
    <div class="panel-group">

    <div class="panel panel-default">
      <div class="panel-heading"> <h2> Add your roof </h2> </div>
      <div class="panel-body">

    <form onkeypress="return event.keyCode != 13;" action="#" th:action="@{/admin/addRoof}" th:object="${roof}" method="post" class="form-horizontal">
      <div class="form-group extra-padding">
        <!-- hidden fields for input via js -->
        <input id="roofPolygon" type="hidden" name="roofPolygon" th:field="*{roofPolygon}" value="" />
        <input id="longitude" type="hidden" name="longitude" th:field="*{longitude}" value="" />
        <input id="latitude" type="hidden" name="latitude" th:field="*{latitude}" value="" />
        <input id="zoomFactor" type="hidden" name="zoomFactor" th:field="*{zoomFactor}" value="" />
        <input id="region" type="hidden" name="region" th:field="*{region}" value="" />

        <div class="row row-height">
          <div class="col-md-8 col-sm-12 col-height">
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
          </div>
        </div>
        <div class="row row-height">
          <div class="col-md-8 col-sm-12 col-height">
            <div class="add-roof">
              <div id="mapsX"></div>
            </div>
          </div>
        </div>
        <div class="row row-height">
          <div id="panel" class="col-md-4 col-sm-6 col-xs-8 remove-roofes">
            <div id="panel-content">
              <div id="controls">
                <h3>Select drawn roof</h3>
                <select id="polyList" class="select-buttons"></select>
                <button type="button" id="btnDelete" class="select-buttons">Delete selected roof</button>
                <button type="button" id="btnDeleteAll" class="select-buttons">Delete all roofs</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-height">
          <div class="col-xs-4 col-sm-4 col-md-2 roof-details">
            <div class="form-group">
            <label th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></label>
            <label for="age">Age</label>
            <select class="form-control" id="age" th:field="*{age}" required pattern="(0-9)">
              <div>
                <option disabled="true" selected="selected" value="">Select</option>
                <option value="0">0-5 years</option>
                <option value="5">5-10 years</option>
                <option value="10">10-15 years</option>
                <option value="15">15-20 years</option>
                <option value="20">20+ years</option>
              </div>
            </select>
            </div>
          </div>

          <div class="col-xs-4 col-sm-2 col-md-2">
            <label for="area"> Area </label>
            <input type="number" th:field="*{area}" placeholder="area" class="form-control" id="area" readonly="readonly">
          </div>

          <div class="col-xs-4 col-sm-2 col-md-2">
            <label for="material"> Material </label>
            <select class="form-control" id="material" th:field="*{material}" required>
              <div>
                <option disabled="true" selected="selected" value="">Select</option>
                <option value="Shingle">Shingle</option>
                <option value="Metal">Metal</option>
                <option value="Tile">Tile</option>
              </div>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12 col-md-8">
            <button type="submit" class="btn btn-primary btn-block">Add Roof</button>
          </div>
        </div>

        <span th:utext="${successMessage}" />
      </div>
    </form>
          </div>
        </div>
    </div>
  </div>

</body>

</html>
