<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>My Roofs</title>
<!-- INCLUDE CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/owner.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- INCLUDE SCRIPTS -->
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<script th:inline="javascript">

	var myroofsList = [[${myroofs}]];
	var html = "";

	var map = new Array(myroofsList.length);

	window.onload = function () {
		initMap();
		initAttributes();
	}

	function initAttributes() {
    var currentRoof;
    
		for(var i = 0; i < myroofsList.length; i++) {
      currentRoof = myroofsList[i];
      
			var idRegion = "region" + i;
			var idLongitude = "longitude" + i;
			var idLatitude = "latitude" + i;
      var idArea = "area" + i;

			document.getElementById(idRegion).innerHTML = 'Region: ' + currentRoof.region;
			document.getElementById(idLongitude).innerHTML= 'Longitude: ' + parseFloat(currentRoof.longitude).toFixed(5);
			document.getElementById(idLatitude).innerHTML ='Latitude: ' + parseFloat(currentRoof.latitude).toFixed(5);
      document.getElementById(idArea).innerHTML = 'Area: ' + parseInt(currentRoof.area);
		}
	}

	function initMap() {
    var currentRoof;
  
			for(var i = 0; i < myroofsList.length; i++) {
        currentRoof = myroofsList[i];
        
				var idMap = 'maps' + i;

				map[i] = new google.maps.Map(document.getElementById(idMap), {
			        center: { lat: parseFloat(currentRoof.latitude), lng: parseFloat(currentRoof.longitude) },
			        zoom: parseInt(currentRoof.zoomFactor),
			        mapTypeId: google.maps.MapTypeId.SATELLITE,
			        mapTypeControl: false,
              rotateControl: false,
							panControl: false,
              tilt: 0,
							streetViewControl: false
			    });
				map[i].data.setStyle({
			        editable: false,
			        draggable: false
			    });

			    loadPolygons(i,currentRoof.roofPolygon);
			}

	}

	function loadPolygons(i,jsonString) {
		var data = JSON.parse(jsonString);
		map[i].data.addGeoJson(data)
	}

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGBWhUOkEthohFqecddY4RWSysZtVcIRo&libraries=drawing,geometry">
</script>

<body>
	  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="roofOwner.html">CoolRoofs</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="roofOwner.html">Home</a></li>
          <li><a href="addRoof.html">Add Roof</a></li>
          <li class="active"><a href="owner_my_roofs.html">My Roofs</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
	<div class="container">
		<!-- my roof -->
		<div class="row row-height">
			<div class="col-md-12 col-height nomp">
				<div class="my-investment-user">
						<div th:utext= "${userName}"></div>
						<div th:utext= "${view}"></div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">


    	for (var i = 0; i < myroofsList.length; i++) {
    		generateRoofHeader(i);
    		generateColLeftField(i);
    		generateMapPerField(i);
    	}

    	document.write(html);

    	function generateRoofHeader(pos) {
    		html = html + '<div class="row row-height">' +
                        '<div class="col-md-12 col-height no-padding">' +
                          '<div class="panel-group"></div>' +
                            '<div class="panel panel-primary">' +
                              '<div class="panel-heading">' +
                                'Roof #' + (pos + 1) +
                              '</div>'+
                            '</div>'+
                          '</div>'+
                        '</div>' +
                        
                        '<div class="row row-height my-investment ">';
    	}

    	function generateColLeftField(pos) {
    		html = html + '<div class="col-md-3 col-height my-investment-left-and-middle-field">' +
                        '<div class="information-field">' +
                          '<div id = "region' + pos + '">Region: Region</div>'+
                        '</div>'  +
                        '<div class="information-field">' +
                          '<div id = "longitude' + pos + '">longitude: ' + 'longitude' + '</div>'+
                        '</div>' +
                        '<div class="information-field">' +
                          '<div id = "latitude' + pos + '">latitude: ' + 'latitude' + '</div>'+
                        '</div>' +
                      '</div>' + 
                    
                      '<div class="col-md-3 col-height my-investment-left-and-middle-field">' +
                        '<div class="information-field">' + 
                          '<div id = "area' + pos + '">area: ' + 'area' + ' m²' + '</div>' + 
                        '</div>' +
                      '</div>';
                        }

    	function generateMapPerField(pos) {
    		html = html + '<div class="col-md-6 col-height">' +
                        '<div class="my-investment-right-side">'+
                          '<div id="maps' + pos + '" class="maps_test"></div>'+
                        '</div>'+
                      '</div>'+
                    '</div>';
    	}

		</script>

		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>
	</div>
</body>
</html>
