<!DOCTYPE html>
<html lang="en">

<head>
  <title>Add Roof - CoolRoofs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">CoolRoofs</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="roofOwner.html">Home</a></li>
          <li class="active"><a href="addRoof.html">Add Roof</a></li>
	      <li><a href="#">My Roofs(not yet)</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <h2>Add new Roof</h2>
    <form action="#" th:action="@{/admin/addRoof}" th:object="${roof}" method="post" class="form-horizontal">
      <div class="form-group row">
        <div class="col-xs-8 col-md-5">
          <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="validation-message"></label>
          <input type="text" th:field="*{address}" placeholder="Address" class="form-control" />
        </div>
        <div class="col-xs-8 col-md-5">
          <label th:if="${#fields.hasErrors('region')}" th:errors="*{region}" class="validation-message"></label>
          <input type="text" th:field="*{region}" placeholder="Region" class="form-control" />
        </div>
      </div>

      <div class="container">
        <h1>Google map</h1>
      </div>

      <h2>Roof Details</h2>

      <div class="form-group row">
        <div class="col-xs-5 col-md-2">
          <label for="age"> Age of Roof </label>
          <select class="form-control" id="age" th:field="*{age}">
            <div>
              <option disabled="true" selected="selected" value="">Select</option>
              <option value="0">0-5 years</option>
              <option value="5">5-10 years</option>
              <option value="10">10-15 years</option>
              <option value="15">15-20 years</option>
              <option value="20">20+ years</option>
            </div>
        </select>
        </div>
      
      </div>
      <div class="form-group row">
        <div class="col-xs-5 col-md-2">
          <label for="area"> Area </label>
          <input type="number" th:field="*{area}" placeholder "area" class="form-control" id="area">
        </div>
        <div class="col-xs-7 col-md-5">
          <label for="material"> Material </label>
          <select class="form-control" id="material" th:field="*{material}">
            <div>
              <option disabled="true" selected="selected" value="">Select</option>
              <option value="Shingle">Shingle</option>
              <option value="Metal">Metal</option>
              <option value="Tile">Tile</option>
            </div>
        </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-md-7">
          <button type="submit" class="btn btn-primary btn-block">Add Roof</button>
        </div>
      </div>

      <span th:utext="${successMessage}"></span>

    </form>
  </div>
</body>

</html>
