<!-- Michael Moser, Martin Schönegger -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cool Roof Registration</title>
	<!--  INCLUDE CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  	
  	<!-- INCLUDE "BODY" FONT RALEWAY -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<!--  INCLUDE FONT ROBOTO  -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
	<!-- NAVIGATION -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">CoolRoofs</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <form th:action="@{/login}" method="get">
				<button class="goto-login-button" type="Submit">Go to login page</button>
		  </form>
	    </div>
	  </div>
	</nav>

	<div class="container">
		<div class="row">
			<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" role="form">
				<div class="col-md-12 nomp registration-frame">
					<div class="registration-border">
						<div class="registration-heading">Welcome, please register</div>
						<!-- Name -->
						<div class="registration-fields">
							<div class="field-label">Name:</div>
							<div class="field-input">
								<input type="text" th:field="*{name}" placeholder="Name" class="form-control" /> 
							</div>
						</div>
						<div class="registration-fields" style="margin-top:0px!important" th:if="${#fields.hasErrors('name')}">
							<div class="field-label"></div>
							<div class="field-error" th:errors="*{name}"></div>
						</div>
						<!-- end Name -->
						<!-- last Name -->
						<div class="registration-fields">
							<div class="field-label">Last name:</div>
							<div class="field-input">
								<input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control" /> 
							</div>
						</div>
						<div class="registration-fields" style="margin-top:0px!important" th:if="${#fields.hasErrors('lastName')}">
							<div class="field-label"></div>
							<div class="field-error" th:errors="*{lastName}"></div>
						</div>
						<!-- end last Name -->
						
						<!-- email -->
						<div class="registration-fields">
							<div class="field-label">Email:</div>
							<div class="field-input">
								<input type="text" th:field="*{email}" placeholder="Email" class="form-control" />  
							</div>
						</div>
						<div class="registration-fields" style="margin-top:0px!important" th:if="${#fields.hasErrors('email')}">
							<div class="field-label"></div>
							<div class="field-error" th:errors="*{email}"></div>
						</div>
						<!-- end email -->
						
						<!-- password -->
						<div class="registration-fields">
							<div class="field-label">Password:</div>
							<div class="field-input">
								<input type="password" th:field="*{password}" placeholder="Password" class="form-control" /> 
							</div>
						</div>
						<div class="registration-fields" style="margin-top:0px!important" th:if="${#fields.hasErrors('password')}">
							<div class="field-label"></div>
							<div class="field-error" th:errors="*{password}"></div>
						</div>
						<!-- end password -->

						<!-- street -->
						<div class="registration-fields">
							<div class="field-label">Street:</div>
							<div class="field-input">
								<input type="text" th:field="*{street}" placeholder="Street" class="form-control" />  
							</div>
						</div>
						<div class="registration-fields" style="margin-top:0px!important" th:if="${#fields.hasErrors('street')}">
							<div class="field-label"></div>
							<div class="field-error" th:errors="*{street}"></div>
						</div>
						<!-- end street -->
						
						<!-- zip code -->
						<div class="registration-fields">
							<div class="field-label">Zip code:</div>
							<div class="field-input">
								<input type="text" th:field="*{zipCode}" placeholder="Zip code" class="form-control" /> 
							</div>
						</div>
						<div class="registration-fields" style="margin-top:0px!important" th:if="${#fields.hasErrors('zipCode')}">
							<div class="field-label"></div>
							<div class="field-error" th:errors="*{zipCode}"></div>
						</div>
						<!-- end zip code -->
						
						<!-- city -->
						<div class="registration-fields">
							<div class="field-label">City:</div>
							<div class="field-input">
								<input type="text" th:field="*{city}" placeholder="City" class="form-control" /> 
							</div>
						</div>
						<div class="registration-fields" style="margin-top:0px!important" th:if="${#fields.hasErrors('city')}">
							<div class="field-label"></div>
							<div class="field-error" th:errors="*{city}"></div>
						</div>
						<!-- end city -->
						
						<!-- country -->
						<div class="registration-fields">
							<div class="field-label">Country:</div>
							<div class="field-input">
								<input type="text" th:field="*{country}" placeholder="Country" class="form-control" /> 
							</div>
						</div>
						<div class="registration-fields" style="margin-top:0px!important" th:if="${#fields.hasErrors('country')}">
							<div class="field-label"></div>
							<div class="field-error" th:errors="*{country}"></div>
						</div>
						<!-- end country -->
						
						<!--  role -->
						<div class="registration-fields">
							<div class="field-label">Role:</div>
							<div class="field-input">
								<input type="radio" id="inv" name="role" value="investor" th:field="*{role}" class="inv-radio">
								<div class="inv-text">investor</div>
								<input type="radio" id="roof" name="role" value="roofOwner" th:field="*{role}" class="roof-radio">
    							<div class="roof-text">roof owner</div>
							</div>
						</div>
						<div class="registration-fields" style="margin-top:0px!important" th:if="${#fields.hasErrors('role')}">
							<div class="field-label"></div>
							<div class="field-error" th:errors="*{role}"></div>
						</div>
						
						<div class="registration-fields">
							<div class="field-label"></div>
							<div class="field-input">
							<button type="button" class="standard_button" name="Submit" value="Login" type="Submit" th:text="Register"></button>
							</div>
						</div>
						<span th:utext="${successMessage}"></span>
					
					</div>
				</div>
			</form>
		</div>
	</div>



	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-4">
				<!-- 
				<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" class="form-horizontal" role="form">
					<h2>Registration Form</h2>
					
					<div class="registration-fields">
						<div class="field-label">Name:</div>
						<div class="field-input">
							<input type="text" th:field="*{name}" placeholder="Name" class="form-control" /> 
						</div>
					</div>
					<div class="registration-fields" style="margin-top:0px!important" th:if="${#fields.hasErrors('name')}">
						<div class="field-label"></div>
						<div class="field-error" th:errors="*{name}"></div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
							<input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" placeholder="Email" class="form-control" /> 
							<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}" placeholder="Password" class="form-control" /> 
							<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{street}" placeholder="Street" class="form-control" /> 
							<label th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{zipCode}" placeholder="Zip code" class="form-control" /> 
							<label th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{city}" placeholder="City" class="form-control" /> 
							<label th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{country}" placeholder="Country" class="form-control" /> 
							<label th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="radio" id="inv" name="role" value="investor" th:field="*{role}" checked>
    						<label for="inv">investor</label>
    						<input type="radio" id="roof" name="role" value="roofOwner" th:field="*{role}">
    						<label for="inv">roof owner</label> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
						</div>
					</div>
					<span th:utext="${successMessage}"></span>
				</form>-->
			</div>
		</div>
	</div>
	
	
</body>
</html>