<!-- Michael Moser, Martin Schönegger -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>My investment</title>
<!--  INCLUDE CSS -->

<link rel="stylesheet" type="text/css" th:href="@{/css/investor_my_investments.css}" />

<!-- INCLUDE SCRIPT -->
<script src="/javascript/make_investment.js"></script>

<!--  INCLUDE JQUERY -->
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!--  INCLUDE BOOTSTRAP -->
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- INCLUDE "BODY" FONT RALEWAY -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<!--  INCLUDE FONT ROBOTO  -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<script th:inline="javascript">
	
	//roof list
	var roofList = [[${roofs}]];
	
	//investment list
	var investmentList = [[${investments}]];
	
	//for dynamic content
	var html = "";

	//initialize arrays for map
	var map = new Array(investmentList.length);
	var latitude = new Array(investmentList.length);
	var longitude = new Array(investmentList.length);
	var zoomfactor = new Array(investmentList.length);
	var jsonString = new Array(investmentList.length);
	var region = new Array(investmentList.length);
	var age = new Array(investmentList.length);
	var co2Saved = new Array(investmentList.length);
	var rtnOfInterests = new Array(investmentList.length);
	
	//window onload function
	window.onload = function () {	
		initMap();
		updateFields();
	};
	
	//this function updates the fields 
	function updateFields() {
		
		for(var i = 0; i < investmentList.length; i++) {
			
			//get investment id
			var id = "investment_" + i;
			
			//select roof by id
			var selectedRoof = document.getElementById(id).value;
			
			//temp roof object
			var tempRoof = findRoofById(parseInt(selectedRoof));
			
			var idRegion = "region" + i;
			var idLongitude = "longitude" + i;
			var idLatitude = "latitude" + i;
			var idAge = "age" + i;
			var idCO2saved = "co2saved" + i;
			var idRtnOfInterests = "rtnOfInterests" + i;
			
			region[i] = tempRoof.region;
			longitude[i] = tempRoof.longitude;
			latitude[i] = tempRoof.latitude;
			age[i] = tempRoof.age;
			co2Saved[i] = calculateCO2saved(investmentList[i].investmentDate, investmentList[i].space);
			rtnOfInterests[i] = calculateRtnOfInterests(co2Saved[i]);
			
			
			document.getElementById(idRegion).value = region[i];
			document.getElementById(idLongitude).value= parseFloat(longitude[i]);
			document.getElementById(idLatitude).value = parseFloat(latitude[i]);
			document.getElementById(idAge).value = parseFloat(age[i]);
			document.getElementById(idRtnOfInterests).value = parseFloat(rtnOfInterests[i]);
			document.getElementById(idCO2saved).value = parseFloat(co2Saved[i]);
		}
	};
	
	function calculateCO2saved(investmentDate, space) {
		
		//CO2 saved = Anzahl Tage * space * 0,1; 
		var constCO2Factor = 0.1;
		var dateToday = new Date();
		var investmentDateNew = new Date(investmentDate);
		
		var timeDiff = Math.abs(dateToday.getTime() - investmentDateNew.getTime());
		var diffDays = Math.abs(Math.ceil(timeDiff / (1000 * 3600 * 24))-1);
		return diffDays * space * constCO2Factor;
	};
	
	function calculateRtnOfInterests(co2Saved) {
		
		var constPaybackFactor = 0.1;
		return co2Saved * constPaybackFactor;
	};
	
	//this function inits the map to show selected investment
	function initMap() {
			
		for(var i = 0; i < investmentList.length; i++) {
			
			var mapName = 'maps' + i;
			
			var investmentId = "investment_" + i;
			
			var selectedRoof = document.getElementById(investmentId).value;
			
			//get attributes for selectedMap
			longitude[i] = findRoofById(parseInt(selectedRoof)).longitude;
			latitude[i] = findRoofById(parseInt(selectedRoof)).latitude;
			zoomfactor[i] = findRoofById(parseInt(selectedRoof)).zoomFactor;
			jsonString[i] = findRoofById(parseInt(selectedRoof)).roofPolygon;
				
			map[i] = new google.maps.Map(document.getElementById(mapName), {
				center: { lat: parseFloat(latitude[i]), lng: parseFloat(longitude[i]) },
			    zoom: parseInt(zoomfactor[i]),
			    // only show roadmap type of map, and disable ability to switch to other type
			    mapTypeId: google.maps.MapTypeId.SATELLITE,
			    mapTypeControl: false,
			    tilt:0, 
		        streetViewControl: false
			    });
			
				//disable edit functions
				map[i].data.setStyle({
			        editable: false,
			        draggable: false
			    });
			
			//loads polygon
			loadPolygons(i, jsonString[i]);
		}
		      
	};
	
	//this function updates the map after each changed investment
	function changeMap(changedMap) {
		
		var selectedRoof = document.getElementById(changedMap.id).value;
		
		//split to get map index
		var mapIndex = parseInt(changedMap.id.split("_")[1]);
		var mapName = 'maps' + mapIndex;
		
		//get attributes for selectedMap
		longitude[mapIndex] = findRoofById(parseInt(selectedRoof)).longitude;
		latitude[mapIndex] = findRoofById(parseInt(selectedRoof)).latitude;
		zoomfactor[mapIndex] = findRoofById(parseInt(selectedRoof)).zoomFactor;
		jsonString[mapIndex] = findRoofById(parseInt(selectedRoof)).roofPolygon;
		
		
		map[mapIndex] = new google.maps.Map(document.getElementById(mapName), {
	        center: { lat: parseFloat(latitude[mapIndex]), lng: parseFloat(longitude[mapIndex]) },
	        zoom: parseInt(zoomfactor[mapIndex]),
	        // only show roadmap type of map, and disable ability to switch to other type
	        mapTypeId: google.maps.MapTypeId.SATELLITE,
	        mapTypeControl: false,
	        tilt:0, 
	        streetViewControl: false
	    });
		
		//disable edit functions
		map[mapIndex].data.setStyle({
	        editable: false,
	        draggable: false
	    });
	    
		//loads polygon
	    loadPolygons(mapIndex,jsonString[mapIndex]);
		
	  	//update fields
	    updateFields();
	};
	
	function loadPolygons(i, jsonString) {
		var data = JSON.parse(jsonString); 
		map[i].data.addGeoJson(data) 
	};
	
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGBWhUOkEthohFqecddY4RWSysZtVcIRo&libraries=drawing,geometry">
</script> 

<body>
	<!-- NAVIGATION -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">CoolRoofs</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
			<li><a href="investor_make_investments">Make Investment</a></li>
	        <li class="active"><a href="investor_my_investments.html">My Investments</a></li>   
	      </ul>
	      <form th:action="@{/logout}" method="get">
				<button class="logout-button" name="logout" type="Submit">Logout</button>
		  </form>  
	      <div class="logged-in-user" th:utext= "${welcome}"></div>
	    </div>
	  </div>
	</nav>
	
	<div class="container">
		<!-- my investment -->
		<div class="row row-height">
			<div class="col-md-12 col-height nomp">
				<div class="co-saved-total" th:utext= "${co2Saved}"></div>
				<div class="rtn-of-interests-total" th:utext= "${rtnOfInterest}"></div>
			</div>
		</div>	
		
		<script th:inline="javascript">
		if(investmentList.length == 0) {
			generateInvestmentHeaderEmpty();
		}
		
    	for (var i = 0; i < investmentList.length; i++) {
    		generateInvestmentHeader(i);
    		generateColLeftField(i);
    		generateMapPerField(i);	
    	}
    	
    	document.write(html);
    	
    	function generateInvestmentHeaderEmpty() {
    		html = html + '<div class="row">' + 
			'<div class="col-md-12 nomp">' + 
			'<div class="panel-group">' + 
			'<div class="panel panel-primary">' + 
			'<div class="panel-heading panel-change">' + '<a href="investor_make_investments.html">' +
			'Make your first investment' + '</a>' + 
			'</div></div></div></div></div>';
    	}
    	
    	function generateInvestmentHeader(investmentIndex) {
    		html = html + '<div class="row">' + 
			'<div class="col-md-12 nomp">' + 
			'<div class="panel-group">' + 
			'<div class="panel panel-primary">' + 
			'<div class="panel-heading panel-change">' + 
			'Investment #' + (investmentIndex + 1) +
			'</div></div></div></div></div>';
    	};
    	
    	function generateColLeftField(investmentIndex) {
    		html = html + '<div class="row row-height spacer">' + 
    		'<div class="col-md-6 col-height left-side">' + 
    		'<div class="my-investment-fields">' + 
    		'<div class="field-label">Region:</div>' + 
    		'<div class="field-select">' + 
    		'<div id="region">' + '<input type="text" id="region' + investmentIndex + '" placeholder="" class="form-control" disabled/>' + 
    		'</div></div></div>' + 
    		'<div class="my-investment-fields">' + 
    		'<div class="field-label">Space total: (m²)</div>' + 
    		'<div class="field-select">' + 
    		'<div id="space">' + 
    		'<input type="text" id="mySpace" placeholder="' + investmentList[investmentIndex].space + '" class="form-control" disabled/>' + 
    		'</div></div></div>' + 
    		'<div class="my-investment-fields">' + 
    		'<div class="field-label">Longitude:</div>' + 
    		'<div class="field-select">' + 
    		'<div id="longitude">' + 
    		'<input type="text" id="longitude' + investmentIndex + '" placeholder="" class="form-control" disabled/>' + 
    		'</div></div></div>' + 
    		'<div class="my-investment-fields">' + 
    		'<div class="field-label">Latitude:</div>' + 
    		'<div class="field-select">' + 
    		'<div id="latitude">' + 
    		'<input type="text" id="latitude' + investmentIndex + '" placeholder="" class="form-control" disabled/>' + 
    		'</div></div></div>' + 
    		'<div class="my-investment-fields">' + 
    		'<div class="field-label">Magnitude: (€)</div>' + 
    		'<div class="field-select">' + 
    		'<div id="magnitude">' + 
    		'<input type="text" id="magnitude' + investmentIndex + '" placeholder="' + investmentList[investmentIndex].magnitude + '" class="form-control" disabled/>' + 
    		'</div></div></div>' + 
    		'<div class="my-investment-fields">' + 
    		'<div class="field-label">Age: (years)</div>' + 
    		'<div class="field-select">' + 
    		'<div id="age">' + 
    		'<input type="text" id="age' + investmentIndex + '" placeholder="" class="form-control" disabled/>' + 
    		'</div></div></div>' + 
    		'<div class="my-investment-fields">' + 
    		'<div class="field-label">Return of Interests: (€)</div>' + 
    		'<div class="field-select">' + 
    		'<div id="rtnOfInterests">' + 
    		'<input type="text" id="rtnOfInterests' + investmentIndex + '" placeholder="' + investmentList[investmentIndex].magnitude + '" class="form-control" disabled/>' + 
    		'</div></div></div>' + 
    		'<div class="my-investment-fields endspace">' + 
    		'<div class="field-label">CO2 saved: (Tonnen)</div>' + 
    		'<div class="field-select">' + 
    		'<div id="co2saved">' + 
    		'<input type="text" id="co2saved' + investmentIndex + '" placeholder="' + investmentList[investmentIndex].magnitude + '" class="form-control" disabled/>' + 
    		'</div></div></div></div>';
    		
    		
    	
    	};
    				
			
    	function generateMapPerField(investmentIndex) {
    		
    		html = html + '<div class="col-md-6 col-height right-side">' + 
    		'<div class="my-investment-fields">' + 
    		'<div class="field-label">roof:</div>' + 
    		'<div class="field-select">' + 
    		'<div id="investment">' + 
    		'<select id="investment_' + investmentIndex + '" class="form-control" onchange="changeMap(this)">';
    		for(var  i = 0; i < investmentList[investmentIndex].valuesOfInvestment.length; i++) {
    			html = html + '<option value="' + investmentList[investmentIndex].valuesOfInvestment[i][0] + '" >' + 'Roof ' + i + '</option>';
    		}
    		html = html + '</select></div></div></div>' + 
    		'<div id="maps' + investmentIndex + '" class="my-investment-map"></div>' + '</div></div>';	
    	};
    	
		</script>
	</div>
	<div class="footer">
		<div class="footer-left"></div>
		<div class="footer-middle"></div>
		<div class="footer-right">© Uni Salzburg</div>
	</div>
</body>
</html>










<!-- STATIC HTML 
		
		<div class="container bordershow">
			<div class="row">
				<div class="col-md-12 nomp">
					<div class="panel-group">
						<div class="panel panel-primary">
							<div class="panel-heading panel-change">Investment #1</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-height spacer">
				<div class="col-md-6 col-height left-side">
					<div class="my-investment-fields">
						<div class="field-label">Region:</div>
						<div class="field-select">
							<div id="region">
								<input type="text" id="region1" placeholder="" class="form-control" disabled/>
							</div>
						</div>
					</div>
					<div class="my-investment-fields">
						<div class="field-label">Space:</div>
						<div class="field-select">
							<div id="space">
								<input type="text" id="space1" placeholder="" class="form-control" disabled/>
							</div>
						</div>
					</div>
					<div class="my-investment-fields">
						<div class="field-label">Longitude:</div>
						<div class="field-select">
							<div id="longitude">
								<input type="text" id="longitude1" placeholder="" class="form-control" disabled/>
							</div>
						</div>
					</div>
					<div class="my-investment-fields">
						<div class="field-label">Latitude:</div>
						<div class="field-select">
							<div id="latitude">
								<input type="text" id="latitude1" placeholder="" class="form-control" disabled/>
							</div>
						</div>
					</div>
					<div class="my-investment-fields">
						<div class="field-label">Magnitude:</div>
						<div class="field-select">
							<div id="magnitude">
								<input type="text" id="magnitude1" placeholder="" class="form-control" disabled/>
							</div>
						</div>
					</div>
					<div class="my-investment-fields">
						<div class="field-label">Age:</div>
						<div class="field-select">
							<div id="age">
								<input type="text" id="age1" placeholder="" class="form-control" disabled/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 col-height right-side">
					<div class="my-investment-fields">
						<div class="field-label">roof:</div>
						<div class="field-select">
							<div id="investment">
								<select id="selectedInvestment" class="form-control">
									<option>
								</select>
							</div>		
						</div>
					</div>
					<div id="maps1" class="my-investment-map"></div>
				</div>
				
			</div>	
		</div>
		-->
